

.options{
    color:#73808c ;
    
    
    
    -webkit-app-region: no-drag;

}

.options:hover{
    color:#95a5b4;
}
.master{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    height: 94.3vh;
    position: absolute;
    top: 40px;
    position: fixed;
}
.explorer{
    height: 91.2vh;
    width: 40vh;
    border: 1px solid #585e65;
    background-color: #1c2128;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}
.viewport{
    position: relative;
    width:100vw;
    background-color: #22272e;
    border: solid #585e65;
    border-width: 1px 1px 1px 0px ;
    overflow:visible;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.terminal{
  position: absolute;
    background-color: #1c2128;
    border: solid #585e65;
    border-width: 1px 1px 1px 0px;
    display: flex;
    justify-content: flex-start;
    bottom: 26px;
    width: 100%;
    height: 20%;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
   
}
.statusbar{
    position: absolute;
    width: 100vw;
    border: 1px solid #585e65;
    background-color: #22272e;
    height: 28px;
    bottom: 0%;
}
.editor{
  width: 100%;
  display: flex;
  height: 77%;
}

 /* width */
 ::-webkit-scrollbar {
    width: 15px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #22272e;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #454d5898;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5b697ca0;
  } 
